{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="../{{ asset('css/CarteCss.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sorties.css') }}">

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Script/Lieu_Adresse.js') }}" defer></script>
    <script src="{{ asset('Script/Creation_Lieu.js') }}" defer></script>
{% endblock %}

{% block title %}Ajouter un lieu{% endblock %}

{% block body %}
    <main>
        <h1>Ajouter votre Lieu !</h1>

        {#    {{ form_start(lieuForm) }} #}
        {#    {{ form_widget(lieuForm) }} #}
        {#    <a href="{{ path('ville_create') }}"><img src="../{{ asset('Images/Plus.png') }}" alt="un plus pour ajouter un lieu"></a> #}
        {#    {{ form_end(lieuForm) }} #}
        <section class="creation-lieu">
            <article class="ajout-lieu">

                <div class="adresse">

                    <div>
                        <label for="adresse">Adresse : </label>
                        <input type="search" list="listeAdresse" id="adresse" name="adresse" value="">
                    </div>
                    <div>
                        <label for="codePostal">Code postal : </label>
                        <input type="search" list="listeCodes" id="codePostal" name="codePostal" value="">
                    </div>
                    <div>
                        <input type="submit" id="recherche" value="Rechercher">
                    </div>
                    <datalist id="listeAdresse"></datalist>
                    <datalist id="listeCodes"></datalist>
                </div>
            </article>


        </section>
        <section class="validation-lieu">
        <article class="carte-creation">
            <div id="map"></div>
        </article>
            <atrticle class="formulaire-ajout-lieu">
                <div>
                    {{ form_start(lieuForm) }}
                    {{ form_widget(lieuForm) }}
                    <button class="button is-rounded">Ajouter</button>
                    {{ form_end(lieuForm) }}
                </div>
            </atrticle>
        </section>
    </main>
{% endblock %}
