{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<main>
    <div class="columns is-desktop" id="connexion">
        <form class="form-connexion" method="post">


            {% if error %}
                <div class="alert alert-danger">Identifiant/mot de passe invalide</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="column">
                <label class="label" for="inputEmail">Email/Pseudo</label>
                <input class="input" type="text" placeholder="email/pseudo"
                value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
            </div>
            <div class="column">
                <label class="label" for="inputPassword">Mot de passe</label>
                <input class="input" type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required placeholder="Password">
            </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >


            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
            #}
            <div class="column">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
            </div>
            <div class="column">
                <button class="button is-rounded" type="submit" id="button_connexion">
                    Se connecter
                </button>
            </div>
            <div class="mdp-oublier">
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
            </div>

        </form>
        </div>
    </main>

{% endblock %}
