{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annuler une sortie</h1>
    <p>Nom de la sortie : {{ sortie.nom }}</p>
    <p>Le {{ sortie.datedebut | date('d/m/y') }} à {{ sortie.datedebut | date('H:i') }} dans la ville de {{ sortie.lieu.ville.nomVille }}</p>
    <p>Lieu : {{ sortie.lieu.nomLieu }}</p>
    <p>Rue : {{ sortie.lieu.rue }}</p>
    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
    <form action="{{ path('sortie_detailannulation',{'id': sortie.id}) }}"><label>Motif :
        <input type="text" name="motif">
    </label>
    <div class="retour">
       <button type="submit" name="valide" class="button is-primary is-outlined"> Enregistrer </button>
    </div>
</form>



    <div class="retour">
        <a href="{{ path('sortie_index') }}"><button class="button is-primary is-outlined"> Annuler</button></a>
    </div>



{% endblock %}

{% block title %}

{% endblock %}

