{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('/Script/compteRebours.js') }}"></script>

{% endblock %}

{% block title %}Sortie{% endblock %}

{% block body %}

    <h1>{{ sortie.nom }}</h1>
    <p id="affichage"></p>
    <input type="hidden" id="dateDebut">{{ sortie.datedebut |date('d-m-Y-H-i-s') }}</input>

    <p>Le {{ sortie.datedebut | date('d/m/y') }} à {{ sortie.datedebut | date('H:i') }} dans la ville de {{ sortie.lieu.ville.nomVille }}</p>
    <p>Lieu : {{ sortie.lieu.nomLieu }}</p>
    <p>Rue : {{ sortie.lieu.rue }}</p>
    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
    <p>Latitude : {{ sortie.lieu.latitude }}</p>
    <p>Longitude : {{ sortie.lieu.longitude }}</p>
    <p>
        {% if sortie.etat.libelle == 'annulée' %}
        Motif d'annulation :
        {% else %}
        Description :
        {% endif %}
        {{ sortie.descriptioninfos }}</p>
    <p>Nombre de participants : {{ sortie.participants | length }}/{{ sortie.nbinscriptionsmax }} , Inscriptions jusqu'au {{ sortie.datecloture | date('d/m/y') }}</p>

    {% for participant in sortie.participants %}

        <a href="{{ path('user_details', {'id': participant.id}) }}" title="vue participant">
            <p>{{ participant.nom }}</p>
        </a>
    {% endfor %}

    <a href="{{ path('sortie_index') }}">retour à la liste</a>

    <a href="{{ path('sortie_update', {'id': sortie.id}) }}">Modifier</a>
{% endblock %}
