{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('Script/Detail_Sortie.js') }}" defer></script>
    <script src="{{ asset('Script/compteRebours.js') }}"></script>
{% endblock %}

{% block title %}Sortie{% endblock %}

{% block body %}
<main>
    <h1>{{ sortie.nom }}</h1>
    <p id="affichage"></p>
    <input type="hidden" id="dateDebut" value=" {{ sortie.datecloture |date('d M H:i:s Y') }}">

    <p id="ville">Le {{ sortie.datedebut | date('d/m/y') }} à {{ sortie.datedebut | date('H:i') }} dans la ville de </p>
    <p>Lieu : {{ sortie.lieu.nomLieu }}</p>
    <p id="adresse">Adresse : </p>
    <p id="codePostal">Code postal : </p>
    <input type="hidden" id="longitude" value="{{ sortie.lieu.longitude }}">
    <input type="hidden" id="latitude" value="{{ sortie.lieu.latitude }}">
    <p>
        {% if sortie.etat.libelle == 'annulée' %}
        Motif d'annulation :
        {% else %}
        Description :
        {% endif %}
        {{ sortie.descriptioninfos }}</p>
    <p>Nombre de participants : {{ sortie.participants | length }}/{{ sortie.nbinscriptionsmax }} , Inscriptions jusqu'au {{ sortie.datecloture | date('d/m/y') }}</p>

    <div>
        {% for participant in sortie.participants %}

            <a href="{{ path('user_details', {'id': participant.id}) }}" title="vue participant">
                <p>{{ participant.nom }}</p>
            </a>
        {% endfor %}
        <div id="map"></div>
    </div>

    <a href="{{ path('sortie_index') }}">retour à la liste</a>

    <a href="{{ path('sortie_update', {'id': sortie.id}) }}">Modifier</a>
</main>
{% endblock %}
