{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('Script/Detail_Sortie.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/CarteCss.css') }}">
{% endblock %}

{% block body %}

    <h1>Annuler une sortie</h1>
    <p>Nom de la sortie : {{ sortie.nom }}</p>
    <p id="ville">Le {{ sortie.datedebut | date('d/m/y') }} à {{ sortie.datedebut | date('H:i') }} dans la ville de </p>
    <p>Lieu : {{ sortie.lieu.nomLieu }}</p>
    <p id="adresse">Rue : </p>
    <p id="codePostal">Code postal : </p>
    <input type="hidden" id="longitude" value="{{ sortie.lieu.longitude }}">
    <input type="hidden" id="latitude" value="{{ sortie.lieu.latitude }}">
    <form action="{{ path('sortie_detailannulation',{'id': sortie.id}) }}"><label>Motif :
        <input type="text" name="motif">
    </label>
    <div class="retour">
       <button type="submit" name="valide" class="button is-primary is-outlined"> Enregistrer </button>
    </div>
</form>

    <div id="map"></div>

    <div class="retour">
        <a href="{{ path('sortie_index') }}"><button class="button is-primary is-outlined"> Annuler</button></a>
    </div>


{% endblock %}

{% block title %}

{% endblock %}

