{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sorties.css') }}">

{% endblock %}

{% block title %}Sortie index{% endblock %}

{% block body %}

    <main>

        <section class="entete">
            <p>Date du jour : {{ 'now' | date('d/m/Y') }}</p>
            <div class="identifiant"><p>Participant :</p><a class="navbar-item" id="mon-profil" href="{{ path('user_details', {'id': app.user.id}) }}"> <p class="user-identifié">{{ app.user.pseudo }}</p></a></div>
        </section>
        <h2>Filtrer les sorties</h2>

        <section class="formulaire-recherche">


            <div class="block-1">
                {{ form_start(filtreForm) }}

                <div class="separation-form">
                    {{ form_label(filtreForm.site) }}
                    {{ form_widget(filtreForm.site) }}
                </div>
                <div class="separation-form">
                    {{ form_label(filtreForm.recherche) }}
                    {{ form_widget(filtreForm.recherche) }}
                </div>
                <div class="separation-form">
                    {{ form_label(filtreForm.dateDepart) }}
                    {{ form_widget(filtreForm.dateDepart) }}
                </div>
                <div class="separation-form">
                    {{ form_label(filtreForm.dateFin) }}
                    {{ form_widget(filtreForm.dateFin) }}
                </div>
            </div>
            <div class="block-2">
                <div>
                    {{ form_widget(filtreForm.organise) }}
                    {{ form_label(filtreForm.organise) }}
                </div>
                <div>
                    {{ form_widget(filtreForm.inscrit) }}
                    {{ form_label(filtreForm.inscrit) }}
                </div>
                <div>
                    {{ form_widget(filtreForm.nonInscrit) }}
                    {{ form_label(filtreForm.nonInscrit) }}
                </div>
                <div>
                    {{ form_widget(filtreForm.passe) }}
                    {{ form_label(filtreForm.passe) }}
                </div>
            </div>
            <div class="block-3">
            {{ form_label(filtreForm.valide) }}
            {{ form_widget(filtreForm.valide) }}
            </div>
            {{ form_end(filtreForm) }}
        </section>


        <section class="affichage-sorties">

            <table class="table">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>actions</th>

                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    {% if sortie.organisateur.nom == app.user.nom or (sortie.etat.libelle!='créer' and sortie.etat.libelle!='archivée') %}

                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.datedebut ? sortie.datedebut|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sortie.datecloture ? sortie.datecloture|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ sortie.participants | length }}/{{ sortie.nbinscriptionsmax }}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td class="image-inscription">{% if sortie.participants.contains(app.user) %}<img id="image-inscription"
                                    src="../{{ asset('Images/validationInscription.jpg') }}" alt="image validation"
                                    width="20px" height="20px">{% endif %}</td>
                            <td>
                                <a href="{{ path('user_details',{'id' : sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }}</a>
                            </td>

                            <td>
                                {% if sortie.etat.libelle != 'créer' %}
                                    <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>

                                {% endif %}

                                {% if app.user.nom ==  sortie.organisateur.nom and sortie.etat.libelle =='créer' %}
                                    <a href="{{ path('sortie_update', {'id': sortie.id}) }}">Modifier</a>
                                    <a href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publier</a>
                                {% endif %}

                                {% if sortie.etat.libelle == 'ouverte' and app.user.nom == sortie.organisateur.nom %}
                                    <a href="{{ path('sortie_detailannulation', {'id': sortie.id}) }}">Annuler</a>

                                {% endif %}

                                {% if app.user.nom != sortie.organisateur.nom and sortie.etat.libelle == 'ouverte'  %}

                                    {% if sortie.participants.contains(app.user) %}
                                        <a href="{{ path('sortie_desister', {'id': sortie.id}) }}">Se désister</a>
                                    {% elseif sortie.nbinscriptionsmax > sortie.participants.count %}
                                        <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>

                {% endfor %}
                {{ knp_pagination_render(sorties) }}
                </tbody>
            </table>
        </section>
        <div >
            <div class="button-creation-sortie">
        <a href="{{ path('sortie_create') }}">
            <button class="button  is-rounded" id="bouton-creation-sortie">Créer une sortie</button>
        </a>
        </div>
        </div>
    </main>

{% endblock %}