<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
<header>
    <nav class="navbar" id="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <img src="{{ asset ("/Images/logo.png") }}" width="60" height="60">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('sortie_index') }}">
                    Accueil
                </a>
                {% if app.user %}
                <a class="navbar-item" href="{{ path('user_details', {'id': app.user.id}) }}">
                    Mon profil
                </a>
                {% endif %}

                <a class="navbar-item" href="{{ path('app_logout') }}"">
                Se deconnecter
                </a>

                <a class="navbar-item" href="{{ path('app_register') }}">
                    Creation d'un membre
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="logo-site">
    <div class="gauche"></div>
    <img src="{{ asset('Images/logo.png') }}" alt="logo-site" width="250px" height="250px">
    <div class="droite"></div>
</div>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}
<footer></footer>
</body>
</html>
