{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}
    <main>
        <h1>{{ user.pseudo }}</h1>
        <article>
            <section class="detail">
                <div>{{ user.prenom }}</div>
                <div>{{ user.nom }}</div>
                <div> {{ user.telephone }}</div>
                <div>{{ user.email }}</div>
                <div>{{ user.site.nomsite }}</div>
            </section>

            <section class="detail">
                <div> Prénom :</div>
                <div> Nom :</div>
                <div> Téléphone :</div>
                <div> Email :</div>
                <div> Ville de rattachement :</div>
            </section>


            <section class="photo_utilisateur">
                <img src="{{ asset("avatars/" ~ user.photo) }}">
            </section>
        </article>
        <div class="button-profil">
            {% if app.user.pseudo == user.pseudo %}
                <div class="retour">
                    <a href="{{ path('user_modifier', {'id': app.user.id}) }}">
                        <button class="button is-rounded"> Modifier</button>
                    </a>
                </div>
            {% endif %}
            <div class="retour">

                <a href="{{ path('sortie_index') }}">
                    <button class="button is-rounded"> Accueil</button>
                </a>

            </div>
        </div>
        </div>
    </main>
{% endblock %}

