{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<h1>{{ user.pseudo }}</h1>
    <div> Prénom : {{ user.prenom }}</div>
    <div> Nom : {{ user.nom }}</div>
    <div> Téléphone : {{ user.telephone }}</div>
    <div> Email : {{ user.email }}</div>
    <div> Ville de rattachement : {{ user.site.nomsite }}</div>

    <button > <a href="{{ path('sortie_index') }}">Retour</a></button>

{% endblock %}

