{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">{% endblock %}

{% block body %}
    <main>
        <h1>Mon profil</h1>
        <div class="form-modification-profil">
            <div class="position-form">
                {{ form_start(registrationForm) }}
            </div>
            <div class="position-form">
                {{ form_row(registrationForm.current_password) }}
            </div>
            <div class="position-form">
                {{ form_row(registrationForm.pseudo) }}
            </div>
            <div class="position-form">
                {{ form_row(registrationForm.prenom) }}
            </div>
            <div class="position-form">
                {{ form_row(registrationForm.nom) }}
            </div>
            <div class="position-form">
                {{ form_row(registrationForm.telephone) }}
            </div>
            <div class="position-form">
                {{ form_row(registrationForm.email) }}
            </div>


            <div class="position-form">
                {{ form_row(registrationForm.site) }}
            </div>
            <div class="position-form">
                {{ form_row(registrationForm.imageFile) }}
            </div>
        </div>
        <div class="button-modifier-profil">
            <button type="submit" class="button is-rounded">Enregistrer</button>
            {{ form_end(registrationForm) }}
            <div class="retour-profil">
                <a href="{{ path('sortie_index') }}">
                    <button class="button is-rounded"> Annuler</button>
                </a>
            </div>
            <div class="retour-profil">
                <a href="{{ path('mdp_modifier') }}">
                    <button class="button is-rounded"> Modifier mot de passe </button>
                </a>
            </div>
        </div>
    </main>
{% endblock %}

{% block title %}

{% endblock %}

